# Log into Azure with CLI
az login
az account set --subscription ${subscription_id}

# Log into cluster (create kube config entry):
az aks get-credentials --name ${cluster_name} --resource-group ${resource_group_name} --subscription ${subscription_id}
